<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/music_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/music_app_icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.ProfileFormActivity"
            android:theme="@style/LightTheme"></activity>

        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MusicPlayActivity"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/LightTheme"></activity>
    </application>

</manifest>